/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 12, 2016, 11:25:27 AM
    Author     : ephaadk
*/

html,
body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-size: 15px;
}

/*footer {
    height: 100px;
    background: #eee;
}*/

.page-menu{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}

.studyMenu li {
    border-bottom: thin solid #d1d1e0;
}

.panel-info .panel-heading {
    font-weight: bold;
    /*background-color: #e6e6e6;*/
    /*padding-bottom: 10px;*/
}

/*.nav-pills>.active>a{
    color:#d9edf7;
    background-color:#fff;
}

.nav-pills1 > li.active > a:hover {
    background-color: #d9edf7;
    color: #fff;
}*/

/*.full-divider {
   background-color: #7dba5c;
    height: 5px;
    margin: 10px 0 50px;
    width: 70px;
}*/

#wrapper {
    width:100%; 
    padding-left: 250px;
    transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
    float: left;
    width:35%;
    height: 500px;
    margin-left: -600px;
    overflow: auto;
    z-index: 1000;
    transition: all 0.4s ease 0s;
}

#page-content-wrapper-study {
    width:50%;
    margin-left: -200px;
}

#page-content-wrapper-loc {
    width: 40%;
    margin-right: 120px;
}

.sidebar-nav {
    position: absolute;
    /*top: 0;*/
    width: 250px;
    list-style: none;
    margin: 0;
    padding: 0;
}

a:active, a:focus, input {
    outline: 0;
    outline-style:none;
    outline-width:0;
}

ul.nav.nav-pills {
    text-align: left;
}

.table {
    margin-bottom: 0;
}

.scrollit{
    overflow:scroll; 
    height:450px;
}

.panel-body ul li{
    font-weight: bold;
}

.table-custom-main {
    border-collapse: separate;
    border-spacing: 0 5px;
}

.table-custom-main thead th {
    background-color:  #0099e6;
    color: white;
}

.table-custom-main tbody tr {
    background-color: #f0f0f5;
}

.table-custom-main tbody tr:hover{
    background-color: #CEE3F6;
}

.table-custom-main tr td:first-child,
.table-custom-main tr th:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.table-custom-main tr td:last-child,
.table-custom-main tr th:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.table-custom-main tbody tr.selected {
    background-color: #CEE3F6;
}
/*custom modal table*/
.table-custom-modal {
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    /*font: normal 13px Arial, sans-serif;*/
}
.table-custom-modal thead th {
    background-color: #DDEFEF;
    border: solid 1px #DDEEEE;
    color: #336B6B;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
}
.table-custom-modal tbody td {
    border: solid 1px #DDEEEE;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
}
.table-custom-modal-rounded {
    border: none;
}
.table-custom-modal-rounded thead th {
    background-color: #00ace6;
    border: none;
    text-shadow: 1px 1px 1px #ccc;
    color: #333;
}
.table-custom-modal-rounded thead th:first-child {
    border-radius: 10px 0 0 0;
}
.table-custom-modal-rounded thead th:last-child {
    border-radius: 0 10px 0 0;
}
.table-custom-modal-rounded tbody td {
    border: none;
    border-top: solid 1px #957030;
    background-color: #e6f9ff;
}
.table-custom-modal-rounded tbody tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}
.table-custom-modal-rounded tbody tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
}

/*centers the modal*/
.modal {
    position: fixed;
    top: 25%;
    left: 30%;
    width: 50%;
    height: auto;
}

/*table sorter*/
table.tablesorter thead tr .header {
    background-image: url(../images/bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}
table.tablesorter thead tr .headerSortUp {
    background-image: url(../images/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
    background-image: url(../images/desc.gif);
}
/*table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
    background-color: #8dbdd8;
}*/
/*EOF table sorter*/

/*pagination*/

/*displays no of pages in text*/
.tfootData {
    float :left;
    text-align: center;
    text-decoration: none !important;
    font-weight: bold;
    margin-top:10px;
    border: 1px solid transparent;
    color: #333 !important;
    font-size: small;
}

.paging-nav {
    float:right;
    text-align: right;
    padding-top: 2px;
}
.paging-nav a:hover, a:focus{
    background-color:#ccc;
}

.paging-nav .selected-page {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #fff 0%, #dcdcdc 100%) repeat scroll 0 0;
    border: 1px solid #979797;
    color: #333 !important;
}
.paging-nav a {
    border: 1px solid transparent;
    border-radius: 2px;
    box-sizing: border-box;
    color: #333 !important;
    cursor: pointer;
    display: inline-block;
    margin-left: 2px;
    min-width: 1.5em;
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none !important;
    font-weight: bold;
}
/*EOF pagination*/

/*contacts*/

.contact-data-1 {
    width:50%;
    float:left;
}
.contact-data-1 th, td { 
    padding:10px;
    text-align: left; 
    color: black;
}
.contact-data-1 th{
    width:40px;
}
.contact-data-1 tr{
    width:70px;
    border-bottom: 1px solid rgba(235, 235, 235, 0.2);
}
.contact-data-1 .fa{
    color: #0099e6;
}
.contact-icon-display {
    margin-left: 160px;
    bottom:-380px;
    position: absolute;

}
.contact-icon-display a{
    padding-left: 50px;
}
.contact-icon-display .copyright{
    font-size: smaller;
    text-indent: 85px;
    font-weight: bolder;
}
/*EOF contacts*/


/* search */

fieldset.scheduler-border {
    border: 3px solid #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
/*    -webkit-box-shadow:  0px 0px 0px 0px #000;
    box-shadow:  0px 0px 0px 0px #000;*/
    margin-top: -8%;
    border-radius: 10px;
    width:1130px;
}

legend.scheduler-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width:auto;
    padding:0 10px;
    border-bottom:none;
}

.panel-body label{
    width: 150px;
}

.radio text{
    width: 200px;
}

.btn-info{
    width: 100px;
}

/*EOF search*/


/*auto-complete*/
.ui-autocomplete {
	position: absolute;
	top: 0;
	left: 0;
	cursor: default;
}

.ui-menu .ui-menu-item {
	position: relative;
	margin: 0;
	padding: 3px 1em 3px .4em;
	cursor: pointer;
	min-height: 0; /* support: IE7 */
	/* support: IE10, see #8844 */
}

.ui-widget-content {
	border: 1px solid #aaaaaa;
	background: #ffffff 50% 50% repeat-x;
	color: #222222;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    background: #CEECF5 repeat-x scroll 50% 50%;
    color: #212121;
    font-weight: bolder;
} 

.ui-menu {
	list-style: none;
	padding: 0;
	margin: 0;
	display: block;
	outline: none;
}

/*EOF auto-complete*/

@media(min-width:960px){
    #wrapper {
        width:50%; 
    }
    #sidebar-wrapper {
        width:55%;
        margin-left: -310px;
    }
    #page-content-wrapper-study .col-md-12{
        width:83.33333333%;
    }
    #page-content-wrapper-study{
        margin-left: -120px;
    }
    #page-content-wrapper-loc {
        width: 50%;
        margin-left: 120px;
    }
    #page-content-wrapper-loc .col-md-12{
        width:83.33333333%;
    }
    .table>tbody>tr>td {line-height:1.0;}
}


