/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 12, 2016, 11:25:27 AM
    Author     : ephaadk
*/

html,
body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-size: 15px;
}

.page-menu{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}

.studyMenu li {
    border-bottom: thin solid #d1d1e0;
}

.panel-info .panel-heading {
    font-weight: bold;
    /*background-color: #e6e6e6;*/
    /*padding-bottom: 10px;*/
}

/*.nav-pills>.active>a{
    color:#d9edf7;
    background-color:#fff;
}

.nav-pills1 > li.active > a:hover {
    background-color: #d9edf7;
    color: #fff;
}*/

/*.full-divider {
   background-color: #7dba5c;
    height: 5px;
    margin: 10px 0 50px;
    width: 70px;
}*/

#wrapper {
    width:100%; 
    padding-left: 250px;
    transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
    float: left;
    width:35%;
    height: 500px;
    margin-left: -600px;
    overflow: auto;
    z-index: 1000;
    transition: all 0.4s ease 0s;
}

#page-content-wrapper-study {
    width:50%;
    margin-left: -200px;
}

#page-content-wrapper-loc {
    width: 40%;
    margin-right: 120px;
}

.sidebar-nav {
    position: absolute;
    /*top: 0;*/
    width: 250px;
    list-style: none;
    margin: 0;
    padding: 0;
}

a:active, a:focus, input {
    outline: 0;
    outline-style:none;
    outline-width:0;
}

ul.nav.nav-pills {
    text-align: left;
}

.table-responsive{
    overflow:scroll; 
    height:500px;
}

.panel-body ul li{
    font-weight: bold;
}

.table-custom-main {
    border-collapse: separate;
    border-spacing: 0 5px;
}

.table-custom-main thead th {
    background-color:  #0099e6;
    color: white;
}

.table-custom-main tbody td {
    background-color: #f0f0f5;
}

.table-custom-main tr td:first-child,
.table-custom-main tr th:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.table-custom-main tr td:last-child,
.table-custom-main tr th:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

/*custom modal table*/
.table-custom-modal {
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    /*font: normal 13px Arial, sans-serif;*/
}
.table-custom-modal thead th {
    background-color: #DDEFEF;
    border: solid 1px #DDEEEE;
    color: #336B6B;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
}
.table-custom-modal tbody td {
    border: solid 1px #DDEEEE;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
}
.table-custom-modal-rounded {
    border: none;
}
.table-custom-modal-rounded thead th {
    background-color: #00ace6;
    border: none;
    text-shadow: 1px 1px 1px #ccc;
    color: #333;
}
.table-custom-modal-rounded thead th:first-child {
    border-radius: 10px 0 0 0;
}
.table-custom-modal-rounded thead th:last-child {
    border-radius: 0 10px 0 0;
}
.table-custom-modal-rounded tbody td {
    border: none;
    border-top: solid 1px #957030;
    background-color: #e6f9ff;
}
.table-custom-modal-rounded tbody tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}
.table-custom-modal-rounded tbody tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
}

/*centers the modal*/
.modal {
    position: fixed;
    top: 25%;
    left: 30%;
    width: 50%;
    height: auto;
}

@media (max-width:767px) {
    #wrapper {
        padding-left: 0;
    }
    #sidebar-wrapper {
        left: 0;
    }
    #wrapper.active {
        position: relative;
        left: 250px;
    }
    #wrapper.active #sidebar-wrapper {
        left: 250px;
        width: 250px;
        transition: all 0.4s ease 0s;
    }
}


