<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login/base.jsp</welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>com.nus.pgdb.filter.AuthenticationFilter</filter-class>
    </filter>
    <filter>
        <filter-name>NonAdminAuthenticationFilter</filter-name>
        <filter-class>com.nus.pgdb.filter.NonAdminAuthenticationFilter</filter-class>
    </filter>
    <!-- restricted pages which cannot be accessed without logged in -->
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/users/*</url-pattern>
        <url-pattern>/analysis/*</url-pattern>
        <url-pattern>/pipelines/*</url-pattern>
        <url-pattern>/projects/*</url-pattern>
        <url-pattern>/projects_samples/*</url-pattern>
        <url-pattern>/scripts/*</url-pattern>
        <url-pattern>/home.jsp</url-pattern>
    </filter-mapping>
    
    <!-- restricted pages which cannot be accessed by non admin users -->
    <filter-mapping>
        <filter-name>NonAdminAuthenticationFilter</filter-name>
        <url-pattern>/users/new.jsp</url-pattern>
        <url-pattern>/users/edit.jsp</url-pattern>
        <url-pattern>/users/view.jsp</url-pattern>
        <url-pattern>/users/sendMail.jsp</url-pattern>
    </filter-mapping>
    
    <!-- This is used to call the changepw page with out the jsp extention -->
    <servlet>
        <servlet-name>-</servlet-name>
        <jsp-file>/changePw.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>-</servlet-name>
        <url-pattern>/change</url-pattern> 
    </servlet-mapping>
</web-app>
