/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 18, 2016, 11:43:54 AM
    Author     : Dineli
*/

@media screen and (max-width: 680px){

    #wrapper {
        width:100%; 
        padding-left: 0px !important;   
        font-size: 12px;
    }

    .mobile-sidebar #sidebar-wrapper {
        width:100% !important;
        margin-left: 0px !important;
        margin-top: -90px;
        margin-bottom: -300px;
        height: 150px;
    }

/*    #page-content-wrapper-study  .col-md-12{
        width:83.33333333%;
    }*/

    #page-content-wrapper-study{
        margin-left: -10px !important;
        width: 475px;
    }

    .panel-group{
        margin-bottom:20px !important; 
        margin-top: 100px !important;
        width: 330px !important;
    }

    .panel-info >.panel-heading{
        font-size: 10px;
    }

    #page-content-wrapper-loc {
        margin-left: -15px !important;
        width: 475px;
    }

    .nav-stacked>li+li{
        margin-top:-5px;
    }

    .studies-section {
        height: 1000px !important;
        padding-top: 150px;
    }

    .locations-section {
        height: 1000px !important;
    }

    .country-section {
        height: 1000px !important;
    }
}
